html {
  height: 100%;
}

body, html {
  min-width: 100%;
  min-height: 100%;
  background: $background-color center;
  background-size: cover;
  background-attachment: fixed;

  .full {
    height: 100%;
  }

  .scrolling {
    height: auto;
    padding-bottom:8em;

    @media #{$medium-and-up} {
      height: auto;
    }
  }

  @media #{$medium-and-up} {
    height: 100%;
  }

  .full-scrolling {
    height: 100%;

    @media #{$small-and-down} {
      height:auto;
      padding-bottom:8em;
    }
  }
}